//* For the colors
$primary-color:#55c57a;
$primary-color-lighten: #7ed56f;
$primary-color-darken:#28b485;
$white-color:#fff;
$grey-color:#888;
$grey-color-light:#f7F7F7;
$secondary-color-lighten:#ffb900;
$secondary-color-darken :#ff7730;
$thertiary-color-lighten: #2998ff;
$thertiary-color-darken: #5643fa;
//* For the grid layout.
$grid-mr:8rem;
$grid-mr-sm:5rem;
$grid-mb:6rem;
$grid-width:90%;
$grid-width-sm:50%;