    .booking-box {
        width: 70%;
        font-size: 1.8rem;
        border-radius: 3px;
        height: initial;
        position: relative;
        box-shadow: 0 2rem 6rem rgba($color: #000, $alpha: .3);
        z-index: 2;
        overflow: hidden;
        @include respond(tab-land) {
            width: 80%;
        }
        @include respond(tab-portry) {
            width: 90%;
        }
        @include respond(phone) {
            width: 98%;
        }
        &__bgImg {
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &__form {
            padding-left: 6rem;
            width: 55%;
            height: 100%;
            background-color: rgba($color: $white-color, $alpha: .9);
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
            @include respond(phone) {
                width: 70%;
                padding-left: 3rem;
            }
        }
        &__input {
            display: block;
            font-size: 1.5rem;
            color: inherit;
            background-color: rgba($color: $white-color, $alpha: .5);
            border: none;
            width: 70%;
            height: 5rem;
            border-bottom: 3px solid transparent;
            padding: 1.5rem 2rem;
            transition: all .3s;
            @include respond(phone) {
                width: 80%;
            }
            &:focus {
                outline: none;
                box-shadow: 0 1rem 6rem rgba($color: #000, $alpha: .3);
                border-bottom: 3px solid $primary-color;
                &:invalid {
                    border-bottom: 3px solid $secondary-color-darken;
                }
            }
            &::-webkit-input-placeholder {
                color: darken($color: $grey-color, $amount: 3%);
            }
            &-label {
                display: block;
                font-size: 1.2rem;
                font-weight: 700;
                margin: 1rem 0 1rem 2rem;
                transition: all .2s;
            }
            &:placeholder-shown+&-label {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-4rem);
            }
        }
    }