html {
    // 1rem = 10px
    font-size: 62.5%;
    @include respond(big-desktop) {
        font-size: 75%;
    }
    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(tab-portry) {
        font-size: 50%;
    }
    @include respond(phone) {
        font-size: 45%;
    }
}

* {
    @include universalFormating;
    &:visited,
    &::after,
    &:link {
        @include universalFormating;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;
    @include respond(tab-portry) {
        padding: 0;
    }
}

::selection {
    background-color: $primary-color;
    color: $white-color;
}